body { 
    margin: 0;  
}

.app {
    display: flex;
}

.users {
    width: 200px;
}

.content {
    flex-grow: 1;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    margin: 0.25rem; 
}

#form > button { 
    background: #333; 
    border: none; padding: 0 1rem; 
    margin: 0.25rem; border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 

}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li.notif { 
    padding: 0.1rem 1rem; 
    color: #666666 
    
}

#users { 
    list-style-type: none; 
    margin: 0; 
    padding: 1rem 0 0 0; 
}

#users > li { 
    padding: 0.2rem 0.5rem; 
}

/* 
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    
} */
/* Bordered form */
/* form {
    width:20%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    float: right;
} */

/* Full-width inputs */
/* input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */

/* Set a style for all buttons */
/* input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
} */